.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
}

.ticket-form {
    display: flex;
    flex-direction: column;
    width: 350px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.ticket-form h1 {
    text-align: center;
}

.ticket-form input,
.ticket-form select,
.ticket-form button {
    margin-bottom: 10px;
    padding: 8px;
}



